<div id="information">
<h2 class="heading"><a href="http://cooper.edu/">The Cooper Union for the Advancement of Science and Art: </a></h2><h3>Electrical Engineering 2015</h3>

<h2 class="heading"><a href="http://www.mechonhadar.org/">Mechon Hadar</a></h2>
<h3>Summer Fellow 2012</h3>

<h2 class="heading"><a href="http://www.midreshet-lindenbaum.org.il/">Midreshet Lindenbaum</a></h2><h3>Year Fellow 2010-2011</h3>

</div>
