<div id="box">
	<%= image_tag("sp.png", id: "profile")%>
	<h3><p id="text">
	I am a Jewish girl based in New York studying Electrical Engineering at The Cooper Union. I am passionate about philosophy, music and innovating.
</p></h3>
</div>



<div id="contact">
	     <p id="contact2"><h2> <a href="mailto:hadarcohen32@gmail.com" >Email  -  </a><a href="http://www.linkedin.com/profile/view?id=222250056&goback=%2Enmp_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&trk=spm_pic" >Linkedin  -  </a> <a href="https://github.com/hadarcohen32" >Github  -  </a><a href="https://www.facebook.com/hadarcohen32" >Facebook  -  </a><a href="https://twitter.com/hadarcohen32" >Twitter</a></h2></p>        
</div>