<div id="information">
<h3 class="heading"><a href="http://esc.cooper.edu/">Cooper Union Engineering Student Council: </a>Assitant Ad-Chair</h3>
<h3 class="heading"><a href="#">Bioelectricity: </a>Teacher Assitant</h3>
<h3 class="heading"><a href="#">Cooper Union Computer Center: </a>Supervisor</h3>
<h3 class="heading"><a href="#">IEEE Cooper Union Chapter: </a>Board Member</h3>
<h3 class="heading"><a href="http://cooper.toastmastersclubs.org/">Toastmasters Cooper Union Chapter: </a>VP of Education</h3>
<h3 class="heading"><a href="http://hillel.cooper.edu">Hillel Cooper Union Chapter: </a>Board Member</h3>
<h3 class="heading"><a href="#">Society of Women Engineers Cooper Union Chapter: </a>Board Member</h3>
<h3 class="heading"><a href="http://www.ramahnyack.org/">Ramah Nyack: </a>Staff</h3>
</div>
