<div id="information">
<h3 class="heading"><a href="http://www.chasingpeace.org/">Chasing Peace: </a>College Campus Advisor</h3>
<h3 class="heading"><a href="http://www.utzedek.org/tavhayosher.html">Tav Hayosher </a>Compliance Officer</h3>
<h3 class="heading"><a href="http://www.ajws.org/">AJWS Service Trip: </a>Nicaragua</h3><p>Traveled to Nicaragua on a volunteer service trip in which a group of college students aided an impoverished community in building an irrigation system in order to improve accessibility to water. This ten day program involved Jewish learning and discussion about responsibilities of social justice.</p>
</div>