<div class="container marketing" id="project-container">
      <div id="container">
        <%= image_tag("nic.jpg" , id:"image" )%>
        <h3 class="heading"><a href="http://www.ajws.org/">AJWS Service Trip: </a>Nicaragua</h3>
        <p class="lead" id="description">
          Traveled to Nicaragua on a volunteer service trip in which a group of college students aided an impoverished community in building an irrigation system in order to improve accessibility to water. This ten day program involved Jewish learning and discussion about responsibilities of social justice.
        </p>
      </div>
      </div>
<hr class="featurette-divider">

<div class="container marketing" id="project-container">
      <div id="container">
        <%= image_tag("peace.png" , id:"image" )%>
        <h3 class="heading"><a href="http://www.chasingpeace.org/">Chasing Peace: </a>College Campus Advisor</h3>
        <p class="lead" id="description">
          The purpose of this project was to research amplifier 
        </p>
      </div>
      </div>
<hr class="featurette-divider">

<div class="container marketing" id="project-container">
      <div id="container">
        <%= image_tag("tav.jpg" , id:"image" )%>
        <h3 class="heading"><a href="http://www.utzedek.org/tavhayosher.html">Tav Hayosher: </a>Compliance Officer</h3>
        <p class="lead" id="description">
          The purpose of this project was to research amplifier 
        </p>
      </div>
      </div>
<hr class="featurette-divider">


