<div class="container marketing" id="project-container">
      <div id="container">
        <%= image_tag("nic.jpg" , id:"image" )%>
        <h3 class="heading"><a href="http://www.ajws.org/">AJWS Service Trip: </a>Nicaragua</h3>
        <p class="lead" id="description">
          Traveled to Nicaragua on a volunteer service trip in which a group of college students aided an impoverished community in building an irrigation system in order to improve accessibility to water. This ten day program involved Jewish learning and discussion about responsibilities of social justice.
        </p>
      </div>
      </div>
<hr class="featurette-divider">

<div class="container marketing" id="project-container">
      <div id="container">
        <%= image_tag("peace.png" , id:"image" )%>
        <h3 class="heading"><a href="http://www.chasingpeace.org/">Chasing Peace: </a>College Campus Advisor</h3>
        <p class="lead" id="description">
          The goal of this organization is to distrubute shoes for kids in need all over the world. This works by providing volunteers with shoes to distrubte when travelling. The shoes are easy to manufacture but provide comfort and warmth to those facing harsh conditions. 
        </p>
      </div>
      </div>
<hr class="featurette-divider">

<div class="container marketing" id="project-container">
      <div id="container">
        <%= image_tag("tav.jpg" , id:"image" )%>
        <h3 class="heading"><a href="http://www.utzedek.org/tavhayosher.html">Tav HaYosher: </a>Compliance Officer</h3>
        <p class="lead" id="description">
          This organization aims to create more just workplaces in restaurants. Tav HaYosher believes that every worker deserves the right to fair pay, the right to fair time, and the right to a safe work environment. Every restaurant that fufills the standard set by this organization receives a certificate recognizing the workplace as a just one. Then, customers are encouraged to dine only in places that receive this ethical seal. This promotes justice not only from a social standpoint, but also from a business perspective. 


        </p>
      </div>
      </div>
<hr class="featurette-divider">


