<div class="container marketing" id="project-container">
      <div id="container">
        <%= image_tag("madrid.jpg" , id:"image" )%>
        <h3 class="heading">Spain</h3>
        <p class="lead" id="description">
         I spent the summer of 2013 working on a research project at the Commilas University in Madrid. During my 8 week stay there, I traveled to various regions of Spain such as Toledo, Barcelona, Malaga, Seville, and Valencia. I spent my time exploring the arts in the Prado Museum, relaxing in the beautiful parks such as the Buen Retiro Park, and learning the langauge of the land.
        </p>
      </div>
      </div>
<hr class="featurette-divider">

<div class="container marketing" id="project-container">
      <div id="container">
        <%= image_tag("nic2.jpg" , id:"image" )%>
       <h3 class="heading">Nicaragua</h3>
        <p class="lead" id="description">
          My travel to Nicaragua was through a service trip of American Jewish World Service during January of 2013. In this 8 day program, we lived in an impoverished community that lacked running water and electricity. The food was scarce which enabled us to realize the harshness of life in poverty. While on the trip, we helped the community build an irrigation system by clearing out the forest and creating a dam in the river banks. This experience has greatly altered my perspective on social responsibility. 
        </p>
      </div>
      </div>
<hr class="featurette-divider">

<div class="container marketing" id="project-container">
      <div id="container">
        <%= image_tag("br.jpg" , id:"image" )%>
       <h3 class="heading">Israel: Birthright</h3>
        <p class="lead" id="description">
          I traveled to Israel in the winter of 2013 through staffing a Birthright group. This trip began in Tel Aviv and circled through the north, the city of Tzfat, Jerusalem, the Dead Sea, Eilat, and the desert. This 10 day intensive allowed participants to explore their Jewish heritage while learning about the land of Israel. 
        </p>
      </div>
      </div>
<hr class="featurette-divider">
