<div class="container marketing" id="project-container">
      <div id="container">
        <%= image_tag("madrid.jpg" , id:"image" )%>
        <h3 class="heading">Spain</h3>
        <p class="lead" id="description">
         
        </p>
      </div>
      </div>
<hr class="featurette-divider">

<div class="container marketing" id="project-container">
      <div id="container">
        <%= image_tag("nic2.jpg" , id:"image" )%>
       <h3 class="heading">Nicaragua</h3>
        <p class="lead" id="description">
          The purpose of this project was to research amplifier 
        </p>
      </div>
      </div>
<hr class="featurette-divider">

<div class="container marketing" id="project-container">
      <div id="container">
        <%= image_tag("br.jpg" , id:"image" )%>
       <h3 class="heading">Israel: Birthright</h3>
        <p class="lead" id="description">
          The purpose of this project was to research amplifier 
        </p>
      </div>
      </div>
<hr class="featurette-divider">
