/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 #container {
				position: relative;
				text-align: left;
				float: left;
				clear: right;
				padding: 1%;   	
}
#image {
				width: 40%;
				height: auto;
				position: relative;
				clear:right;
				float:right;
				padding: 2%; 
   }

 #information {
				position: relative;
				text-align: left;
				float: left;
				clear: right;
				margin-left: 10%;  
				border-radius: yellow;
			}
#box {
	padding-left: 7%;
	padding-top: 3%;
}

#contact {
padding-top: 3%;
	clear: both;
	text-align: center;

}
#text {
	clear: none;
	padding: 3%;
line-height: 2.0;
}
#profile {
float: left;
margin:0 50px 0 0;
}
